
#full_name{
    margin-left: 50px;
}
#file{
    padding-left: 30px;
    margin-left: 50px;
}

#email{
    margin-left: 30px;
}

#about_you{
    margin-left: 50px;
}


div{
    margin-bottom: 7px;
}



